{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1 class="display-4">{{ category.name }}</h1>

        {% if pages %}
            <ul class="list-group">
                {% for page in pages %}
                    <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p><strong>No pages currently in category.</strong></p>
        {% endif %}
        {% if user.is_authenticated %}
            <br>
            <a href="{% url 'add_page' category.slug %}" class="btn btn-primary">Add Page</a>
        {% endif %}
    {% else %}
        <p>The specified category does not exist!</p>
    {% endif %}
{% endblock %}