{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Home Page
{% endblock %}

{% block body_block %}
    <div>
        <h1 class="display-4">Rango says...</h1>
        {% if user.is_authenticated %}
            <p>Welcome, <strong>{{ user.username }}!</strong></p>
        {% else %}
            <p>Hey there, partner!</p>
        {% endif %}
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4">
        <h2>Most Liked Categories</h2>
        {% if categories %}
            <ul>
            {% for category in categories %}
            <li>
                <a href="{% url 'show_category' category.slug %}">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}
            </ul>
                {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
      </div>
      <div class="col-lg-4">
         <h2>Most Viewed Pages</h2>
        {% if pages %}
            <ul>
                {% for page in pages %}
                <li>
                    <a href="{{ page.url }}">
                        {{ page.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
      </div>
    </div>
    <div>
        <img src="{% static "images/rango.jpg" %}"
             class="img-thumbnail w-75 rounded mx-auto d-block"
             alt="Picture of Rango"/>
    </div>
{% endblock %}

