{%  extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1>Login to Rango</h1>
    <form id="login_form" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username-input">Username</label>
        <input id="username-input" type="text" name="username" value="" size="50">
        <br>
        <label for="password-input">Password</label>
        <input id="password-input" type="password" name="password" value="" size="50">
        <br>
        <input type="submit" value="submit">
    </form>
{% endblock %}
