{% extends "polls/base.html" %}
{% load filters %}
{% block body_block %}
    <main class="form-signin" style="max-width: 500px">
        <h1 class="display-4 mb-3">Login</h1>
        <form class="form-signin mb-3" method="post" action="" role="form">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field|addclass:'form-control' }}
                {% if field.help_text %}
                <small class="form-text mb-3" style="color: grey">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
            <input class="w-100 btn btn-primary" type="submit" value="Sing in">
        </form>
    </main>
{% endblock %}